<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MLocati.MediaData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <MLocati.MediaData.Properties.Settings>
            <setting name="LastMediaDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowProgessingOutput_Images" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="ShowProgessingOutput_Videos" serializeAs="String">
                <value>5MBa</value>
            </setting>
            <setting name="ShowProgessingOutput_VideosTranscoding" serializeAs="String">
                <value>-1a</value>
            </setting>
            <setting name="DeleteToTrash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Maps_EnableCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Maps_LastPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="Maps_LastProvider" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleAPI_Elevation" serializeAs="String">
                <value />
            </setting>
            <setting name="Maps_DisabledProviders" serializeAs="String">
                <value>ArcGIS_DarbAE_Q2_2011_NAVTQ_Eng_V5_MapProvider|ArcGIS_ShadedRelief_World_2D_Map|ArcGIS_World_Physical_Map|CloudMade, Demo|GoogleChinaSatelliteMap|GoogleKoreaHybridMap|GoogleKoreaMap|GoogleKoreaSatelliteMap|GoogleSatelliteMap|LatviaMap|Lithuania 2.5d Map|LithuaniaHybridMap|LithuaniaHybridMapOld|LithuaniaOrtoFotoMap|LithuaniaTOP50|MapBender, WMS demo|NearHybridMap|NearMap|NearSatelliteMap|None|SpainMap|YahooHybridMap|YahooMap|YahooSatelliteMap</value>
            </setting>
            <setting name="AppCulture" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchRenameFormats" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchRenameLastFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="DoUpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxAllowedDistanceError_Horizontal" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MaxAllowedDistanceError_Vertical" serializeAs="String">
                <value>2</value>
            </setting>
        </MLocati.MediaData.Properties.Settings>
    </userSettings>
</configuration>
